body{
background-color: blanchedalmond;
background-size:cover;
}
.carousel-control.left,.carousel-control.right{background-image:none;}

.navbar-header a:hover{background-color:rgb(255,255,255);color:orange;display:inline-block}

.bg-nav {background:rgba(255,0,0,0.9);color:black;display:block;}

.nav-color {color:ghostwhite;}

#myCarousel .carousel-indicators > li {
	margin: 0 2px;
	background-color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
	opacity:0.7;
	width:5px;height:5px;
}

#myCarousel .carousel-indicators > .active {
	margin: 0 2px;
	background-color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
	opacity:0.7;
	width:7px;height:7px;
}

.jb {background:url ("../../../resources/images/BG3.jpg") no-repeat center center fixed;
	background-size:cover;
	} 

#effect>a:hover {background-color:ghostwhite;color:orange;}

.dow {box-shadow: 0px 2px 15px 3px rgba(0,0,0,0.6);
		border-radius:3px;
}

#log {color:ghostwhite;}
#log:hover {color:orange;}
.navbar-right li a:hover {background-color:ghostwhite;color:orange;}

#game>li>a {padding: -5px -2px -2px -2px;}
#game>li a:hover {color:orange;} 

#myCarousel {margin:60px 0px 10px 0px;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {height:550px;width:100%;} 

.white {color:ghostwhite;}

.dropdown .dropdown-menu {background-color:rgba(255,255,255,1);box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.2);} 
.dropdown .dropdown-menu a:hover {background-color:rgba(255,0,0,0.8);color:ghostwhite;display:block;}
.dropdown:hover .dropdown-menu {display:block;}

#footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}